<div class="cont-addpicker">
    <header>
        <h1>add black</h1>
        <button><i class="fa-solid fa-xmark"></i></button>
    </header>
    <div class="cont-img">
        <img src="" id="preview-image" alt="">
    </div>
    <div class="cont-upload">
        <input type="file" name="img" id="image-upload">
    </div>
    <div class="cont-input-link">
        <input type="tyext" name="link" id="image-link"  placeholder="Link...">
    </div>
    <button class="submit" onclick="addPicker()">Adicionar</button>
</div>
<script>
    $("input").change(()=>{
        preview();
    })
function preview() {
    const imageLink = document.getElementById("image-link").value;
    const imageUpload = document.getElementById("image-upload");
    const previewImage = document.getElementById("preview-image");
    $("div.cont-img").css("display","flex");
    if (imageLink) {
        // If a link is provided, update the 'src' attribute of the image with the link
        previewImage.src = imageLink;
    } else if (imageUpload.files && imageUpload.files[0]) {
        // If an image is uploaded, create a URL object and set it as the image source
        const reader = new FileReader();

        reader.onload = function (event) {
            previewImage.src = event.target.result;
        };

        reader.readAsDataURL(imageUpload.files[0]);
    } else {
        // Handle the case where no link or image is provided
        alert("Please add a link or upload an image.");
    }
}

</script>
<style>
    div.cont-addpicker
    {
        background-color: var(--background2);
        width: 30vw;
        height: 30vw;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.cont-addpicker header
    {
        width: 90%;;
        display:flex;
        flex-direction: row;
       justify-content: space-between;
       color: var(--text-color2);
    align-items: center;
        padding: 10px 20px;
    }
    div.cont-addpicker header button:hover
    {
        color: #f12c4c;
    }
    div.cont-addpicker header button
    {
        margin: 5px 0;
        background-color: transparent;
        border:none;
        color: var(--text-color2);
        font-size: 2em;
        transition: .2s;
    }
    div.cont-addpicker div.cont-img
    {
        display: none;
        flex: 5;
    }
    div.cont-addpicker div
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background3);
        margin-top: 10px;
        border-radius: 20px;
        width: 90%;
        flex:1;
    }
    div.cont-addpicker div.cont-input-link
    {
        max-height: 40px;
        
    }
    div.cont-addpicker div.cont-input-link input
    {
        width: 80%;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        font-size:1em;
        outline: none;
    }
    div.cont-addpicker button.submit
    {
        background-color: var(--destaque-color2);
        border: none;
        border-radius: 20px;
        height: 40px;
        width: 50%;
        margin: 5px 0;
        color: var(--text-color);

    }
</style>