<div class="cont-addpicker">
    <div class="cont-img">
        <img src="" alt="">
    </div>
    <div class="cont-upload">
        <input type="file" name="img" id="">
    </div>
    <div class="cont-input-link">
        <input type="tyext" name="link" placeholder="Link...">
    </div>
    <button onclick="addPicker()">Adicionar</button>
</div>